<div class="header-middle">
    <div class="container logo-nav">
        <div class="row align-items-center">
            <!-- Begin Logo Area -->
            <div class="col-lg-3">
                <div class="logo">
                    <a href="index.html">
                        <img height="100px" src="~/assest/User/images/menu/logo/istockphoto-1172950351-170667a.jpg" alt="FB's Logo">
                    </a>
                </div>
            </div>
            <!-- Logo Area End Here -->
            <!-- Begin Header Middle Right Area -->
            <div class="col-lg-9">
                <!-- Begin Header Middle Right Area -->
                <div class="header-middle-right">
                    <form action="#" class="hm-searchbox">
                        <input type="text" placeholder="Enter your search key ...">
                        <button class="fb-search_btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <!-- Header Middle Searchbox Area End Here -->
                    <ul class="hm-menu">
                        <!-- Begin Header Mini Cart Area -->
                        <li class="hm-minicart">
                            <div class="hm-minicart-trigger">
                                <span class="item-icon"></span>
                                <span class="item-text">
                                    <span class="cart-item-count">2</span>
                                </span>
                            </div>
                            <span></span>
                        </li>
                        <!-- Header Mini Cart Area End Here -->
                    </ul>
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
            <!-- Header Middle Right Area End Here -->
        </div>
    </div>
</div>