
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="header-middle">
    <div class="container logo-nav">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="index.html">
                        <img width="130px" height="100px" src="~/assets/images/menu/logo/istockphoto-1199555232-170667a.jpg" alt="FB's Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header-middle-right">
                    <form action="#" class="hm-searchbox">
                        <input type="text" placeholder="Enter your search key ...">
                        <button class="fb-search_btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <ul class="hm-menu">
                        @Html.Action("CartPartial", "Cart")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>