USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CHITIETMUONTRA]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMUONTRA](
	[MACHITIETMUONTRA] [int] IDENTITY(1,1) NOT NULL,
	[MAMUON] [int] NULL,
	[MASACH] [int] NULL,
	[TENSACH] [nvarchar](500) NULL,
	[SOLUONGMUON] [int] NULL,
 CONSTRAINT [PK_CHITIETMUONTRA] PRIMARY KEY CLUSTERED 
(
	[MACHITIETMUONTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASINHVIEN] [nvarchar](50) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[TINHTRANG] [bit] NULL,
	[MALOP] [int] NULL,
	[USERNAME] [varchar](100) NULL,
	[PASSWORD] [varchar](100) NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [int] IDENTITY(1,1) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUONTRA]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONTRA](
	[MAMUON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUON] [date] NULL,
	[HANTRA] [date] NULL,
	[NGAYTRATHUCTE] [date] NULL,
	[TRANGTHAIMUON] [bit] NULL,
	[TRANGTHAITRA] [bit] NULL,
	[DAXOA] [bit] NULL,
	[GHICHU] [nvarchar](max) NULL,
	[MADOCGIA] [int] NULL,
	[MATHUTHU] [int] NULL,
 CONSTRAINT [PK_MUONTRA] PRIMARY KEY CLUSTERED 
(
	[MAMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[DIENTHOAI] [varchar](10) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANHAXUATBAN] [int] IDENTITY(1,1) NOT NULL,
	[TENNHAXUATBAN] [nvarchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[DAXOA] [bit] NULL,
	[LOGO] [nvarchar](max) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MANHAXUATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MANHACUNGCAP] [int] NULL,
	[MASACH] [int] NULL,
	[NGAYNHAP] [datetime] NULL,
	[SOLUONGNHAP] [nchar](10) NULL,
	[DAXOA] [bit] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[TENSACH] [nvarchar](500) NULL,
	[TACGIA] [nvarchar](50) NULL,
	[SOLUONGTON] [int] NULL,
	[MOTA] [nvarchar](max) NULL,
	[NGAYCAPNHAT] [date] NULL,
	[SOLUONGMUON] [int] NULL,
	[LUOTXEM] [int] NULL,
	[DAXOA] [bit] NULL,
	[HINHANH] [nvarchar](max) NULL,
	[MANHAXUATBAN] [int] NULL,
	[MATHELOAI] [int] NULL,
 CONSTRAINT [PK_SACH_1] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATHELOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENTHELOAI] [nvarchar](500) NULL,
	[DAXOA] [bit] NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUTHU]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUTHU](
	[MATHUTHU] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUTHU] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[SODIENTHOAI] [varchar](10) NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](100) NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_THUTHU] PRIMARY KEY CLUSTERED 
(
	[MATHUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIPHAM]    Script Date: 03/09/2024 10:57:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIPHAM](
	[MAVIPHAM] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[LYDOVP] [nvarchar](500) NULL,
	[HINHTHUCXULY] [nvarchar](500) NULL,
 CONSTRAINT [PK_VIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETMUONTRA] ON 

INSERT [dbo].[CHITIETMUONTRA] ([MACHITIETMUONTRA], [MAMUON], [MASACH], [TENSACH], [SOLUONGMUON]) VALUES (2, 1, 1, N'Xây Dựng Đế Chế Kinh Doanh 1 Người', 1)
INSERT [dbo].[CHITIETMUONTRA] ([MACHITIETMUONTRA], [MAMUON], [MASACH], [TENSACH], [SOLUONGMUON]) VALUES (3, 1, 2, N'Kinh Doanh Chuỗi Cửa Hàng', 1)
INSERT [dbo].[CHITIETMUONTRA] ([MACHITIETMUONTRA], [MAMUON], [MASACH], [TENSACH], [SOLUONGMUON]) VALUES (4, 2, 1, N'Xây Dựng Đế Chế Kinh Doanh 1 Người', 2)
SET IDENTITY_INSERT [dbo].[CHITIETMUONTRA] OFF
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([ID], [MASINHVIEN], [HOTEN], [GIOITINH], [EMAIL], [DIENTHOAI], [TINHTRANG], [MALOP], [USERNAME], [PASSWORD]) VALUES (1, N'21DQ4802011017', N'Đọc giả 1', N'Nam', N'docgia1@email.com', N'123456789', 1, 1, N'user1', N'$2a$10$I4kjHLGika8IX39L9ZnE7uBghq8y6.1quXwN3dMflzmyJUK49UAra')
INSERT [dbo].[DOCGIA] ([ID], [MASINHVIEN], [HOTEN], [GIOITINH], [EMAIL], [DIENTHOAI], [TINHTRANG], [MALOP], [USERNAME], [PASSWORD]) VALUES (2, N'21DQ4802011018', N'Đọc giả 2', N'Nữ', N'docgia2@email.com', N'987654321', 1, 1, N'user2', N'$2a$10$w3GDndEyjIjVBCQ6FYePi.0M.PeAcgMUR4U0E1nhv.xsvJ9b.NdZO')
INSERT [dbo].[DOCGIA] ([ID], [MASINHVIEN], [HOTEN], [GIOITINH], [EMAIL], [DIENTHOAI], [TINHTRANG], [MALOP], [USERNAME], [PASSWORD]) VALUES (3, N'21DQ4802011019', N'Đọc giả 3', N'Nam', N'docgia3@email.com', N'456789123', NULL, 1, N'user3', N'pass3')
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[LOP] ON 

INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (1, N'D21CTC1')
INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (2, N'D21KTC1')
INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (3, N'D21KTX1')
SET IDENTITY_INSERT [dbo].[LOP] OFF
GO
SET IDENTITY_INSERT [dbo].[MUONTRA] ON 

INSERT [dbo].[MUONTRA] ([MAMUON], [NGAYMUON], [HANTRA], [NGAYTRATHUCTE], [TRANGTHAIMUON], [TRANGTHAITRA], [DAXOA], [GHICHU], [MADOCGIA], [MATHUTHU]) VALUES (1, CAST(N'2024-01-03' AS Date), CAST(N'2024-03-03' AS Date), NULL, 1, 0, 0, NULL, 1, 2)
INSERT [dbo].[MUONTRA] ([MAMUON], [NGAYMUON], [HANTRA], [NGAYTRATHUCTE], [TRANGTHAIMUON], [TRANGTHAITRA], [DAXOA], [GHICHU], [MADOCGIA], [MATHUTHU]) VALUES (2, CAST(N'2024-02-03' AS Date), CAST(N'2024-03-03' AS Date), NULL, 1, 0, 0, NULL, 2, 2)
INSERT [dbo].[MUONTRA] ([MAMUON], [NGAYMUON], [HANTRA], [NGAYTRATHUCTE], [TRANGTHAIMUON], [TRANGTHAITRA], [DAXOA], [GHICHU], [MADOCGIA], [MATHUTHU]) VALUES (3, CAST(N'2024-02-23' AS Date), CAST(N'2024-02-29' AS Date), CAST(N'2024-03-08' AS Date), 1, 1, 0, NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[MUONTRA] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [DIACHI], [DIENTHOAI], [EMAIL], [DAXOA], [LOGO]) VALUES (1, N'Trẻ', N'123 Đường ABC', N'0123456789', N'nxba@example.com', 0, NULL)
INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [DIACHI], [DIENTHOAI], [EMAIL], [DAXOA], [LOGO]) VALUES (2, N'Kim Ðồng', N'456 Đường XYZ', N'0987654321', N'nxbb@example.com', 0, NULL)
INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [DIACHI], [DIENTHOAI], [EMAIL], [DAXOA], [LOGO]) VALUES (3, N'Văn Hóa-Thông Tin', N'789 Đường LMN', N'0123456789', N'nxbc@example.com', 0, NULL)
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [SOLUONGTON], [MOTA], [NGAYCAPNHAT], [SOLUONGMUON], [LUOTXEM], [DAXOA], [HINHANH], [MANHAXUATBAN], [MATHELOAI]) VALUES (1, N'Khởi Nghiệp Bán Lẻ - Bí Quyết Thành Công Và Giàu Có Bằng Những Cửa Hàng Đông Khách', N'Nguyễn Tất Kiếm', 99, NULL, CAST(N'2024-01-25' AS Date), 0, 0, 0, N'5bf87088791bcd0d58e3400636f472c4.jpg', 2, 1)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [SOLUONGTON], [MOTA], [NGAYCAPNHAT], [SOLUONGMUON], [LUOTXEM], [DAXOA], [HINHANH], [MANHAXUATBAN], [MATHELOAI]) VALUES (2, N'Kinh Doanh Chuỗi Cửa Hàng', N'Nguyễn Tất Kiếm', 100, N'', CAST(N'2024-01-03' AS Date), 0, 0, 0, N'6ab02f2b09616d832a01301c7bc6f6b9.jpg', 2, 1)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [SOLUONGTON], [MOTA], [NGAYCAPNHAT], [SOLUONGMUON], [LUOTXEM], [DAXOA], [HINHANH], [MANHAXUATBAN], [MATHELOAI]) VALUES (3, N'Giải Mã Chiến Lược Đông Tây', N'Nguyễn Tất Kiếm', 100, N'', CAST(N'2024-01-03' AS Date), 0, 0, 0, N'109d8de899202f32d4c0f52c7d9e91f7.jpg', 2, 1)
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
SET IDENTITY_INSERT [dbo].[THELOAI] ON 

INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI], [DAXOA]) VALUES (1, N'KinhDoanh', 0)
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI], [DAXOA]) VALUES (2, N'Kế Toán', 0)
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI], [DAXOA]) VALUES (3, N'Công Nghệ Thông tin ', 0)
SET IDENTITY_INSERT [dbo].[THELOAI] OFF
GO
SET IDENTITY_INSERT [dbo].[THUTHU] ON 

INSERT [dbo].[THUTHU] ([MATHUTHU], [TENTHUTHU], [EMAIL], [SODIENTHOAI], [USERNAME], [PASSWORD], [TINHTRANG]) VALUES (2, N'Phan Tấn Phúc', N'phantanphuc.d21ctc1@mude.edu.vn', N'0333945872', N'admin', N'$2a$10$Tz1aftX4Bzi6.Ult4xri6efjJtoIp9JFQzollmj4uv9vhx6lRVp62', 1)
INSERT [dbo].[THUTHU] ([MATHUTHU], [TENTHUTHU], [EMAIL], [SODIENTHOAI], [USERNAME], [PASSWORD], [TINHTRANG]) VALUES (6, N'Nguyễn Văn Thịnh', N'nguyenvanthinh@gmail.com', N'0339875624', N'thinh', N'$2a$10$dHWxWGQ/YelgqqxIJWfCAui./880gaMRqoYPezkwK7xqWwZefDud6', 1)
SET IDENTITY_INSERT [dbo].[THUTHU] OFF
GO
ALTER TABLE [dbo].[CHITIETMUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMUONTRA_MUONTRA] FOREIGN KEY([MAMUON])
REFERENCES [dbo].[MUONTRA] ([MAMUON])
GO
ALTER TABLE [dbo].[CHITIETMUONTRA] CHECK CONSTRAINT [FK_CHITIETMUONTRA_MUONTRA]
GO
ALTER TABLE [dbo].[CHITIETMUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMUONTRA_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETMUONTRA] CHECK CONSTRAINT [FK_CHITIETMUONTRA_SACH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_LOP]
GO
ALTER TABLE [dbo].[MUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRA_DOCGIA] FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([ID])
GO
ALTER TABLE [dbo].[MUONTRA] CHECK CONSTRAINT [FK_MUONTRA_DOCGIA]
GO
ALTER TABLE [dbo].[MUONTRA]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRA_THUTHU] FOREIGN KEY([MATHUTHU])
REFERENCES [dbo].[THUTHU] ([MATHUTHU])
GO
ALTER TABLE [dbo].[MUONTRA] CHECK CONSTRAINT [FK_MUONTRA_THUTHU]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN1] FOREIGN KEY([MANHAXUATBAN])
REFERENCES [dbo].[NHAXUATBAN] ([MANHAXUATBAN])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN1]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI1] FOREIGN KEY([MATHELOAI])
REFERENCES [dbo].[THELOAI] ([MATHELOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI1]
GO
ALTER TABLE [dbo].[VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VIPHAM_DOCGIA] FOREIGN KEY([ID])
REFERENCES [dbo].[DOCGIA] ([ID])
GO
ALTER TABLE [dbo].[VIPHAM] CHECK CONSTRAINT [FK_VIPHAM_DOCGIA]
GO
